.saved-news-heder__page-name {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0 0 28px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: rgba(26, 27, 34, 0.5);
}

@media screen and (max-width: 768px) {
  .saved-news-heder__page-name {
    margin: 0 0 16px;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .saved-news-heder__page-name {
    margin: 8px 0 16px;
    font-size: 12px;
    line-height: 2;
  }
}
