.news-card__show-more-button {
    background: #FFFFFF;
    border-radius: 80px;
    width: 288px;
    min-height: 64px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1A1B22;
    margin: 64px auto 16px;
    border: none;
    cursor: pointer;
}

.news-card__show-more-button:hover {
    background: #E8E8E8;
    opacity: 0.9;
}

@media screen and (max-width: 768px ) {
    .news-card__show-more-button {
        width: 240px;
        min-height: 56px;
        margin: 32px auto 0;
    }
  }
  
  @media screen and (max-width: 480px ) {
    .news-card__show-more-button {
        width: 100%;
        margin: 32px auto 0;
    }
  }
