.popup__error {
    min-height: 31px;
    text-align: left;
    padding-left: 0;
    align-self: left;
    color: #FF0000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;   
}