@media screen and (max-width: 480px) {
    .navigation_dropdown {
        display: flex;
        height: fit-content;
        position: absolute;
        top: 68px;
        right: 0;
        width: 100%;
        background-color: #1A1B22;
        z-index: 0;
        width: 100%;
        box-sizing: border-box;
    }
}