.main {
  padding: 80px 0;
  background-image: url(../../images/background-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media  screen and (max-width: 768px) {
  .main {
    padding: 66px 0 48px;
  }
}

@media  screen and (max-width: 480px) {
  .main {
    padding: 56px 0 32px;
    background-image: url(../../images/background-mobile.jpg);
  }
}
