.news-card__tooltip_delete {
    right: 69px;  
    padding: 0 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    color: #000000;
    visibility: hidden;
}

.news-card__delete:hover ~ .news-card__tooltip_delete  {
    visibility: visible;   
}

@media screen and (max-width: 768px) {
    .news-card__tooltip_delete {
        right: 53px;
        padding: 0 20px;
        font-size: 14px;
        line-height: 1.71;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .news-card__tooltip_delete {
        right: 61px;
    }
}
