.news-card-list__title {
    margin-block-start: 0;
    margin-block-end: 0;
    align-self: flex-start;
    margin: 16px 0 64px; 
    font-family: Roboto Slab;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.15;
    color: #1A1B22;
}

@media screen and (max-width: 768px) {
    .news-card-list__title {
        margin: 0 0 16px;
        font-size: 30px;
        line-height: 1.13;
    } 
}

@media screen and (max-width: 480px) {
    .news-card-list__title {
        margin: 0 0 58px;
    } 
}
