.login-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 100px;
  height: 48px;
  width: fit-content;
  min-width: 112px;
  cursor: pointer;
  color: inherit;
  background: transparent;
  box-sizing: border-box;
  padding: 0 19px;
}

@media screen and (max-width: 768px) {
  .login-button {
    height: 40px;
  }
}

@media screen and (max-width: 480px) {
  .login-button {
    height: 56px;
    width: 100%;
    margin-top: 22px;
  }
}
