.news-card__date {
  margin: 17px auto 15px 24px;
  font-family: Source Sans Pro, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #B6BCBF;
}

@media screen and (max-width: 768px ) {
  .news-card__date {
    margin: 16px auto 12px 16px;
  }
}

@media screen and (max-width: 480px ) {
  .news-card__date {
    margin: 16px auto 10px 16px;
  }
}
