.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .footer {
    min-height: 64px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    min-height: 176px;
    padding: 20px 16px 22px;
  }
}
