.news-card {
    background: #FFFFFF;
    border-radius: 20px;
    width: 400px;
    min-height: 576px;
    position: relative;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
  .news-card {
      width: 224px;
      min-height: 420px;
  }  
}

@media screen and (max-width: 480px) {
    .news-card {
        width: 288px;
        min-height: 440px;
    }  
  }
